{
  "expo": {
    "name": "{{title}}",
    "slug": "{{name}}",
    "scheme": "{{name}}",
    "version": "0.1.0",
    "orientation": "portrait",
    "userInterfaceStyle": "automatic",
    "newArchEnabled": true,
    "plugins": ["expo-router", "expo-secure-store"],
    "experiments": { "typedRoutes": true }
  }
}
